@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* &::-webkit-scrollbar {
  width: 0px;
  background-color: rgba(255, 0, 0, 0);
}

* &::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: rgb(128, 128, 128);
}

@layer utilities {
  .icon {
    @apply text-xl text-blue-gray-700 hover:text-blue-gray-900;
  }

  .card {
    @apply bg-white rounded-2xl shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px];
  }
}
